/* article {
  border: 1px solid gray;
  padding: 1vw;
  margin-bottom: 1vw;
  width: 16%;
}
article img {
  width: 100%
}
*/
.card-header .card-text {
  font-size: 11px;
  margin: auto;
  display: inline-block;
  margin-bottom: .5rem;
}
.card-header .card-text:last-of-type {
  padding-left: 1rem;
  cursor: pointer;
}
.card-header .card-text:last-of-type:hover {
  color: purple;
}

.article-button {
  margin: .4rem .6vw;
}
